<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.todoapp.TodoMapper">
    <insert id="insTodo" useGeneratedKeys="true" keyProperty="itodo">
        INSERT INTO t_todo
        (ctnt)
        VALUES
        (#{ctnt})
    </insert>

    <select id="selTodo" resultType="TodoVo">
        SELECT itodo, ctnt, created_at createdAt, pic, finish_yn finishYn
        ,finish_at finishAt
        FROM t_todo
        WHERE del_yn = 0
    </select>

    <update id="updFinish">
        <selectKey keyProperty="finishYn" resultType="TodoEntity" order="AFTER">
            SELECT finish_yn finishYn FROM t_todo WHERE itodo = #{itodo}
        </selectKey>
        UPDATE t_todo
        SET
        finish_yn = 1 - finish_yn,
        finish_at = if(finish_at is NULL, CURRENT_TIMESTAMP(), NULL)
        WHERE itodo = #{itodo}
    </update>

    <delete id="delTodo">
        UPDATE t_todo
        SET
        del_Yn = 1
        WHERE itodo = #{itodo}
    </delete>
</mapper>